* {
  color: #333;
  box-sizing: border-box;
}

body {
  font: 100% 'Montserrat', sans-serif;
  color: #333;
}

header {
  color: #333;
  border-bottom: #333 1px double;
  min-height: 50px;
}

h1 {
  color: #BB6464;
  font-family: 'Playfair Display', serif;
}

ul {
  list-style-type: none;
  float: left;
}

li {
  display: inline;
  margin: 10px;
}

a {
  text-decoration: none;
}

footer {
  background-color: #BB6464;
  min-height: 70px;
}
