$ten-color: #BB6464;

.characters {
    display: flex;
    flex-flow: row wrap;
}

.title {
    display: block;
}

@media only screen and (max-width: 600px) {
    .characters {
        display: block;
        margin: 0;
    }
    
    .title {
        text-align: center;
        margin: 0;
    }
}