.header {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mobile-menu {
  display: none;
}

.mobile-button {
  display: none;
}

.nav {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-right: 25px;
}

.nav-item {
  margin-top: auto;
  font-size: 18px;
  display: inline;
  margin: 20px;
}

.nav-item:hover {
  color: #BB6464;
}

.active-nav-item {
  text-decoration-line: underline;
  text-decoration-color: #BB6464;
  text-decoration-style: dotted;
}

.logo {
  width: 75px;
}

.navBar {
  position: relative;
}

.navBar button {
  position: fixed;
  left: 40px;
  top: 40px;
  z-index: 10;
  cursor: pointer;
}

@media all and (max-width: 600px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    margin: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    height: 100vh;
    top: 90px;
    background: #BB6464;
    z-index: 1;
    transition: top .3s ease-in;
    text-align: center;
  }
  .mobile-menu a {
    color: #fff;
  }
  .mobile-button {
    display: inline-block;
    background-color: transparent;
    color: black;
    font-size: 25px;
    border: none;
  }
  .nav {
    display: none;
  }
  .menu.mobile-menu {
    top: 100%;
  }
  .header-open {
    overflow: hidden;
    height: 100vh;
  }
}
