.header {
  padding: 5px;
}

.mobile-menu {
  display: none;
}

.nav {
  float: right;
  display: inline;
  margin-top: 25px;
  margin-right: 25px;
}

.nav-item {
  margin: 10px;
  margin-top: auto;
  font-size: 18px;
}

.nav-item:hover {
  color: #BB6464;
}

.active-nav-item {
  text-decoration-line: underline;
  text-decoration-color: #BB6464;
  text-decoration-style: dotted;
}

.logo {
  width: 75px;
}

@media all and (max-width: 600px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .mobile-menu {
    display: inline-block;
    background-color: transparent;
    color: black;
    font-size: 25px;
    border: none;
  }
  .nav {
    display: none;
  }
  .menu.mobile-menu {
    top: 100%;
  }
}
