@use 'mixins';
@import 'vars';

@keyframes rotate {
    from {transform: rotate(0);}
    to {transform: rotate(180deg);}
}


.div-open {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    margin: 0;
    margin: 0 0 15px 15px;
    padding: 20px;
    border: 1.5px solid $font-color;
    box-shadow: 10px 10px $ten-color;
    width: 100%;
}

.div-closed {
    border: none;
    //transition: height 2s;
    //transition-timing-function: linear;
}

.desc-closed {
    display: none;
}

.button-open {
    margin: 0;
    margin: 0 0 15px 15px;
    padding: 15px;
    border: 1.5px solid $font-color;
    box-shadow: 10px 10px $ten-color;
    width: 100%;
    cursor: pointer;
}

.button-open:hover {
    background-color: #BB6464;
    transition: ease-in .4s;
    h2 {
        color: white;
    }
}

.button-closed {
    margin: 0;
    padding: 0;
    width: 100%;
    border: none;
    background-color: white;
    cursor: pointer;
    margin-bottom: 15px;
    //transition: .2s ease;
}

.button-open, .button-closed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.arrow-closed {
    transition: 1200ms;
}

.arrow-closed, .arrow-open {
    width: 26px;
    opacity: 30%; 
}

.arrow-open {
    transform: rotate(180deg);
    animation-name: rotate;
    animation-duration: 1200ms;
}

@media only screen and (max-width: 600px) {
    .div-open, .div-closed {
        width: 100%;
    }
    .button-open, .button-closed, .div-open {
        margin: 0 0 15px 0;
    }
}